body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', Sans-Serif;
  font-size: 14px;
  color: #4E5E55; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", Cursive;
  font-size: 3rem; }

h2 {
  margin-left: .8rem; }

/* NAVBAR STYLES */
.navbar {
  background-color: red; }
  .navbar > .navbar-brand {
    font-family: "Abril Fatface", Cursive;
    font-size: 2.5rem;
    color: #4E5E55; }

/* HERO STYLES */
.hero-image {
  background-image: url("../images/PARH.jpg");
  width: 100%;
  height: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%; }
  .hero-text > p {
    font-size: 1rem;
    color: #FFF;
    font-family: "Abril Fatface", Cursive;
    transform: translate(-50%, -50%); }

/* CONTAINER STYLES */
.container {
  min-height: 600px;
  margin-bottom: 2rem; }

/* GALLERY STYLES */
.gallery-card {
  width: 100%;
  border-radius: 15px; }
  .gallery-card > img {
    border-radius: 15px; }

.card-deck:last-child {
  margin: 10px; }

/* NOUNS STYLES */
.table {
  margin-top: 15px;
  text-align: center; }

.noun {
  width: 100px; }

/* SIDEBAR STYLES */
ul.list-group {
  margin-top: 15px; }

/* FOOTER STYLES */
.footer {
  bottom: 0;
  width: 100%;
  background-color: #EC5E55;
  text-align: center;
  height: 6rem; }
  .footer .about-footer {
    position: fixed;
    left: 0;
    bottom: 0; }
  .footer ul {
    text-align: center; }
  .footer li {
    display: inline-block;
    text-decoration: none;
    margin-top: 1.25rem;
    text-align: center; }
    .footer li a {
      color: #4E5E55; }
  .footer .copyright {
    text-align: center;
    font-size: .6rem;
    padding-left: 20px; }

/* MEDIA QUERY */
@media screen and (min-width: 700px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Abril Fatface", Cursive;
    font-size: 4rem; }
  h2 {
    margin-left: 1.5rem; }
  .hero-image {
    height: 75%; }
  .hero-text > p {
    font-size: 2.125rem; } }
