---
layout: base
title: Home
---
{% include hero.html %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Hello,There!</h1>
            <p>Welcome to this portfolio of 12 specially chosen images taken from 6 cities on two continents. Most are digital images enhanced to look analog, and one is actually an analog image. Come check out visions of cities of many different countries.</p>
        </div>
        <div class="col-md-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>
