---
layout: base
title: Home
---
{% include hero.html %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Hello, World!</h1>
            <p>Hello there! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laboriosam facere excepturi sunt eos, iure ipsam alias, commodi, placeat sit odit accusantium eligendi rem modi. Quae praesentium voluptates ad hic.</p>
        </div>
        <div class="col-md-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>
